templates/script.js
templates/bigfloat-tests.js
templates/bigfloat-tests-auto.ts
templates/LICENCE
templates/AGPLv3
templates/CC-BY-SA-3.0
templates/CC-BY-SA-4.0
templates/otter_wasm.ns.d.ts
templates/shapelib.html
save/lock
/library/*/files.make
/library/*/*.usvg
/library/*/*.coloured.svg
*.tmp
.tsconfig.*.json
stamp/*
/target
*~
Cargo.lock
lock
[ag]-*
accounts
