templates/script.js
templates/bigfloat-tests.js
templates/bigfloat-tests-auto.ts
templates/LICENCE
templates/AGPLv3
templates/CC-BY-SA-3.0
templates/CC-BY-SA-4.0
save/lock
/library/*/*.usvg
*.tmp
.tsconfig.*.json
stamp/*
