<!-- Copyright 2020 Ian Jackson
     SPDX-License-Identifier: AGPL-3.0-or-later
     There is NO WARRANTY. -->
<html>
<head>
<link rel="license" href="/_/libre">
<script defer>let wasm_input = fetch('/_/wasm.wasm');</script>
<script src="/_/wasm.js" defer></script>
<script src="/_/script.js" defer></script>
</head>
<body id="loading_body">
<h1 id="loading_token" data-ptoken="{{ ptoken }}">Loading!</h1>
<div id="error"></div>
