<html><head>
    <title>T</title>
  </head>
  <body>
    <p>
      <div id="status">nothing</div>
    </p>
    <svg id="space"
	 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 200"
	 >
      <rect fill="green" x="42" y="56" width="100" height="80"/>
      <use href="#piece42" 
	   x="50" y="80"
 	 onmousedown="drag_mousedown(event)"
	   />
      <defs>
	<circle
	  id="piece42"
	  cx="0" cy="0"
	  fill="red" r="10"/>
      </defs>
    </svg>
    <script src="script.js"></script>
  </body>
</html>
