{# -*- HTML -*- -#}<body id="main-body" 
      data-ctoken="{{ctoken}}"
      data-us="{{player}}"
      data-gen="{{gen}}"
      >
<h1>Hi {{nick}}!</h1>
<div id="error"></div>
<p>
<div id="status">nothing</div>

<p>
    <svg id="space"
	 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 200"
 	 onmousedown="drag_mousedown(event)"
	 >
      <rect fill="green" x="20" y="20" width="200" height="100"/>
{% for piece in uses %}{{piece}}{% endfor %}
      <defs>
{% for piece in defs %}{{piece}}{% endfor %}
      </defs>
    </svg>

</body>
