{# -*- HTML -*- -#}
<!-- Copyright 2020-2021 Ian Jackson and contributors to Otter
     SPDX-License-Identifier: AGPL-3.0-or-later
     There is NO WARRANTY. -->
{% for b in bundles %}
<div class="bundle">
<a href=""><code class="b_id">{{ b.id }}</code></a>
<span class="b_title">{{ b.title }}</span>
</div>
{% endfor %}
