From: Otter game server on behalf of <{{ unix_user }}}>
To: {{ player_email }}
Subject: Game access link {{ game_name }}

Hi.  I'm inviting you to join the game
  {{ game_name }}
on this Otter server.

You can play, directly, by visiting this link in a suitable browser.
{{ token_lines }}

I have set for you the nickname, within the game, of
  {{ nick }}
If you want that changing, please contact me.

Regards,
{{ unix_user }}, via the Otter game server
