To: {{ player_email }}
Subject: Game access link {{ game_name }}

Hi.  A user on this Otter game server, with account
  {{ account }}
has invited you to join the game
  {{ game_name }}

You can play, directly, by visiting this link in a suitable browser.
{%- for l in token_lines %}
  {{ l }}
{%- endfor %}

They have set for you the nickname, within the game, of
  {{ nick }}
If you want that changing, please contact them.

Regards,
Otter game server.
