To: {{ player_email }}
Subject: Game access link {}

Hi.  A user on this Otter game server, with account
  {{ account }}
has invited you to join the game
  {{ game_name }}

You can play, directly, by visiting this link in a suitable browser.
  {{ token_url }}

They have set for you the nickname, within the game, of
  {{ nick }}
If you want that changing, please contact them.

Regards.
